@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;400;600&display=swap");
@import "reset.css";
@import "variables.css";
@import "status-bar.css";

body {
  font-family: "MuseoModerno", cursive;
  background-color: cornflowerblue;
}
.welcome-header {
  margin-top: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 여기서 display: flex;를 할 수도 있겠지만, header에 있는 대부분이 ㅅext이기 때문에 그냥 text-align을 써도 됨. 하지만 정렬해야되어서 diplay: flex; 추가함.그런데 이렇게 하면 타이틀과 텍스트가 나란히 정렬되게 됨. 그래서 flex-direction:column;을 써서 위 아래로 놓이도록 해야됨. */
  margin-bottom: 15%;
}
.welcome-header__title {
  margin-bottom: 5%;
  font-size: 25px;
  font-weight: 500;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  font-weight: 200;
}
.welcome-header__greeting-emoticon {
  margin-top: 20px;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
  font-weight: 200;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  margin-bottom: 10px;
}
#login-form input:not([type="submit"]) {
  background-color: cornflowerblue;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
#login-form input:focus {
  border-color: var(--orange);
}
/* To do: 패스워드와 로그인 사이의 간격을 더 떨어트리기. nth-child(3)로 해결함. */
#login-form input[type="submit"] {
  background-color: rgb(255, 174, 0);
  border-radius: 5px;
  font-size: 13px;
  font-weight: lighter;
  /* 질문 1 여기서 버튼 안에 있는 폰트의 굵기. 혹은 글씨체를 어떻게 바꾸나? */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
#login-form input[type="submit"]:hover {
  background-color: var(--orange);
  color: rgba(255, 255, 255, 0.9);
}
#login-form a {
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
#login-form input:nth-child(3) {
  margin-top: 30px;
}
