#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#friends-display-link i {
  /* icon은 폰트랑 같다고 생각하면 됨. 그래서 그냥 color로 설정. */
  color: rgba(0, 0, 0, 0.3);
}
#friends-display-link span {
  margin: 0px 10px;
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border-template);
  padding-top: 15px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--orange);
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1s;
}
#splash-screen .fa-comment {
  position: relative;
}
#splash-screen span {
  position: absolute;
  opacity: 0.9;
  color: white;
  font-size: 15px;
  top: 43px;
  left: 20px;
}
