.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 10px;
}
.user-component__title {
  font-weight: bold;
  font-size: 20px;
}
.user-component__subtitle {
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
}
